version: '3.8'
services:
  web:
    build: .
    command: uvicorn app.main:app --host 127.0.0.1 --port 8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: "keinos/sqlite3"
    environment:
      SQLITE_DATABASE: /data/db.sqlite
    volumes:
      - ./data:/data
